<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1 class="darkBrown">Bem vindo ao seu Dashboard!</h1>
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box cor15">
          <div class="inner">
            <h3></h3>

            <p>Lista Pessoas</p>
          </div>
          <div class="icon">
            <i class="fa fa-list-ul"></i>
          </div>
          <a [routerLink]="['/people']" class="small-box-footer">
            Mais Informções <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box cor15">
          <div class="inner">
            <h3></h3>

            <p>Lista de Cursos</p>
          </div>
          <div class="icon">
            <i class="fa fa-list-ul"></i>
          </div>
          <a [routerLink]="['/courses']" class="small-box-footer">
            Mais Informções <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
  </div>

</section>
<!-- FIM DO CONTEÚDO -->