<!-- Início do header -->
<header class="main-header">
    <nav class="my-header navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <img src="../../assets/img/logo-selpe.png" style="padding-top: 3%;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class=" contentOptions collapse navbar-collapse pull-left " id="navbar-collapse">
          <ul class="nav navbar-nav">              
              <li routerLinkActive="active cor-li"><a [routerLink]="['/home']">Inicio</a></li>
              <li routerLinkActive="active cor-li"><a [routerLink]="['/people']">Pessoas</a></li>
              <li routerLinkActive="active cor-li"><a [routerLink]="['/courses']">Cursos</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>            
    </nav>
  </header>
    <!-- Fim do header -->