.my-header{
    background-color: #e1e1e1 !important
}
.label{
    color: #104e70
}
.imgLogo{
    padding-right: 10% !important;
}
.contentOptions{
    padding-left: 10px
}

.skin-red .main-header .navbar .nav>li>a{
    color: #212121 !important;
}